// scss-docs-start import-stack
// Configuration
@use "../../node_modules/bootstrap/scss/functions";

// Variable overrides must come after our functions are imported, but before the rest of the imports.
/* 
$font-family-sans-serif: "Open Sans", sans-serif, "Helvetica Neue", Helvetica,
  Arial, sans-serif;
$blue: #004b89;
$white: #fff;
$headings-font-family: "Arial Narrow", Helvetica, Arial, "Lucida Grande",
  sans-serif;

$navbar-nav-link-padding-x: 1rem;
$navbar-brand-margin-end: 2rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: rgba($white, 0.75);
$navbar-brand-font-size: 1.5rem;
$dropdown-bg: $blue;
$dropdown-color: $white;
$dropdown-link-color: $white;

//$form-label-font-weight: bold;

html {
  overflow-y: scroll;
} */

@use "../../node_modules/vue-multiselect/dist/vue-multiselect.css";

@use "../../node_modules/bootstrap/scss/variables";
@use "../../node_modules/bootstrap/scss/variables-dark";
@use "../../node_modules/bootstrap/scss/mixins";
@use "../../node_modules/bootstrap/scss/maps";
@use "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@use "../../node_modules/bootstrap/scss/root";
@use "../../node_modules/bootstrap/scss/reboot";
@use "../../node_modules/bootstrap/scss/type";
@use "../../node_modules/bootstrap/scss/images";
@use "../../node_modules/bootstrap/scss/containers";
@use "../../node_modules/bootstrap/scss/grid";
@use "../../node_modules/bootstrap/scss/tables";
@use "../../node_modules/bootstrap/scss/forms";
@use "../../node_modules/bootstrap/scss/buttons";
@use "../../node_modules/bootstrap/scss/transitions";
@use "../../node_modules/bootstrap/scss/dropdown";
@use "../../node_modules/bootstrap/scss/button-group";
@use "../../node_modules/bootstrap/scss/nav";
@use "../../node_modules/bootstrap/scss/navbar";
@use "../../node_modules/bootstrap/scss/card";
@use "../../node_modules/bootstrap/scss/accordion";
@use "../../node_modules/bootstrap/scss/breadcrumb";
@use "../../node_modules/bootstrap/scss/pagination";
@use "../../node_modules/bootstrap/scss/badge";
@use "../../node_modules/bootstrap/scss/alert";
@use "../../node_modules/bootstrap/scss/progress";
@use "../../node_modules/bootstrap/scss/list-group";
@use "../../node_modules/bootstrap/scss/close";
@use "../../node_modules/bootstrap/scss/toasts";
@use "../../node_modules/bootstrap/scss/modal";
@use "../../node_modules/bootstrap/scss/tooltip";
@use "../../node_modules/bootstrap/scss/popover";
@use "../../node_modules/bootstrap/scss/carousel";
@use "../../node_modules/bootstrap/scss/spinners";
@use "../../node_modules/bootstrap/scss/offcanvas";

// Helpers
@use "../../node_modules/bootstrap/scss/helpers";

// Utilities
@use "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end use-stack

// Vue-toastification
// (Use bootstrap 5 alerts color scheme)
$vt-text-color-warning: #664d03;
$vt-color-warning: #fff3cd;

$vt-text-color-error: #842029;
$vt-color-error: #f8d7da;

$vt-text-color-success: #0f5132;
$vt-color-success: #d1e7dd;

$vt-text-color-info: #0c5460;
$vt-color-info: #d1ecf1;

@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";
@import "vue-toastification/src/scss/animations/_fade";
